* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
li,
ul {
  margin: 0;
  padding: 0;
}
/* -------------------- nav starts ------------------------------------- */
.navItems {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
  top: 0;
  z-index: 2;
}
.menueIcon {
  left: 0;
  z-index: 999;
  top: 0;
}
.menueIcon a {
  color: black;
  font-weight: bold;
}
.sideMenue {
  background-color: rgba(0, 0, 0, 0.266);
}
.menue a {
  color: black;
  font-weight: 600;
  font-size: 15px;
}
.sideMenueIcon {
  cursor: pointer;
}
.search {
  border-radius: 4rem;
  box-shadow: 1px 5px #e2dfdf5e;
}
.search input ::-ms-input-placeholder {
  color: #cccccc;
}
.search input {
  border: 0;
  background-color: transparent;
}
.search p {
  border-right: solid #cccccc 1px;
}
.wishList p,
.cart p {
  right: -10px;
  top: -10px;
  background-color: #f26b0e;
  border-radius: 50%;
  font-size: 14px;
  padding: 0 6px;
}
.wishList i,
.cart i {
  font-size: 23px;
  transition: 500ms;
}
.login {
  border: 0;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  transition: 500ms;
}
.login:hover {
  color: #f26b0e;
}
.cat {
  font-size: 14px;
}
.menue a:hover,
.cat:hover {
  color: #f26b0e;
}
.fa-magnifying-glass {
  padding: 8px;
  border: green dashed 1px;
  border-radius: 50%;
  transition: 500ms;
}
.fa-magnifying-glass:hover {
  background-color: #f26b0e;
  border: 0;
}
.wishList i:hover,
.cart i:hover {
  color: #f26b0e;
  margin-bottom: 10px;
}
.bottomNav {
  bottom: 0;
}
.bottomSearch {
  border: none;
  padding: 0;
}
#bottomWish {
  right: 7px;
}
.sec {
  display: none;
  height: 300px;
  object-fit: cover;
  /* width: 250px; */
}
.main:hover .sec {
  display: block;
}
.firstImg {
  height: 300px;
}
.main:hover .firstImg {
  display: none;
}
.sNext:after {
  content: "l";
}
.sNext,
.sPrev {
  color: white;
  padding: 1.5rem;
  border-radius: 50%;
  font-size: 22px;
  display: none;
}
.swiper:hover .sNext,
.swiper:hover .sPrev {
  display: flex;
}
.sPrev:after {
  content: "p";
}
.BTNCart {
  border-radius: 1rem;
  border: none;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.08);
  color: black;
  font-size: 13px;
  background-color: white;
  font-weight: 500;
}
.BTNCart:hover,
.heart:hover,
.view:hover {
  background-color: #f26b0e;
  color: white;
}
.heart,
.view {
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
}
.proName {
  font-size: 18px;
  font-family: "Lora";
  font-weight: 700;
}
.proName:hover {
  color: #f26b0e;
}
.proPrice {
  color: #6d9c19;
  font-weight: 700;
}
.proPrice span {
  text-decoration: line-through;
  color: #949494;
  font-size: 14px;
}
.disc {
  background-color: #c1980f;
  font-size: 12px;
  color: white;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  position: absolute;
  left: 0;
  top: 10%;
}
/* -------------------- nav ends ------------------------------------- */
/* -------------------- footer --------------------------------------- */
footer {
  background-color: #206802;
  margin-top: 12rem;
  padding: 5rem 3rem 3rem 3rem;
}
.sub {
  top: -10%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #7bad2d;
  width: 80%;
  padding: 1rem 6rem;
  border-radius: 6rem;
  display: flex;
}
.first {
  left: 12%;
  top: -83%;
  width: 33%;
}
.second {
  left: 2%;
}
.sub h2 {
  color: white;
  font-weight: bold;
  font-family: "Lora";
  font-size: 28px;
  margin-right: 10rem;
}
.sub button {
  top: 50%;
  transform: translatey(-50%);
  right: 35%;
  background-color: #f26b0e;
  color: white;
  border-radius: 2rem;
}
.sub input {
  border-radius: 2rem;
  border: none;
}
.links p,
.info p {
  font-weight: bold;
  color: white;
}
.info span {
  color: #f26b0e;
}
.links p:hover {
  color: #f26b0e;
  cursor: pointer;
}
.head {
  font-size: 18px;
}
.filter {
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #00000059;
}
.cartModule .filter {
  background-color: rgba(0, 0, 0, 0.66);
  right: 0;
  top: 0;
  z-index: 4;
}
.counter {
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 0.5rem;
}
.cartPro {
  right: 0;
  top: 0;
  /* margin-top: 5%; */
}
.inc,
.dec,
.closeBtn {
  border: none;
  background-color: transparent;
}
.productInCart {
  padding: 1rem 3rem 5rem 3rem;
}
/* -------------------- footer --------------------------------------- */
main {
  margin-top: 4rem;
}
tr {
  vertical-align: middle;
}
table {
  border: 1px solid #dee2e6;
}
table {
  color: black;
  font-weight: bold;
  font-family: "Lora";
}
.pricecol {
  color: #6d9c19 !important;
}
.btnOrange {
  background-color: #f26b0e;
  border: 1px solid #f26b0e !important;
  color: white;
  font-weight: bold;
}
.btnOrange:hover {
  background-color: white;
  color: #f26b0e;
}
.fatoraHead {
  background-color: #e9e9e9;
}
.fatoraHead p {
  color: black;
  font-family: "Lora";
  font-weight: 500;
}
.cotant {
  background-color: #f6f6f6;
}
.fatoraTable {
  border: none;
}
.wishProducts {
  top: 20%;
  right: 25%;
  transform: translate(50%, -50%);
  border-radius: 0.5rem;
}
.logBottom p {
  color: red;
}
.SIGN {
  left: 5%;
  bottom: 10%;
  color: white;
  font-family: "Lora";
  font-size: 20px;
}
.model {
  top: 15%;
  right: 25%;
  transform: translate(50%, -50%);
  z-index: 55555;
  /* border-radius: 1rem; */
}
.model img {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.logBottom {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.logBottom input,
.logBottom button {
  padding: 0.5rem;
  border: 1px solid #eaeaea;
  border-radius: 1rem;
}
.logBottom button {
  color: white;
}
.logBottom button:hover {
  background-color: #f26b0e;
}
.button1 {
  background-color: black;
}
.button2 {
  background-color: #666666;
}
.logBottom a {
  color: black;
  text-decoration: none;
  border-bottom: black solid 1px;
  padding-bottom: 0.1rem;
  width: fit-content;
}
.logBottom a:hover {
  color: #f26b0e;
  border-color: #f26b0e;
}
.closeSign {
  top: 5%;
  right: 2%;
  color: white;
}
.logBottom p {
  color: red;
}
